<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poorwa.shantibanapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.poorwa.shantibanapp.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.poorwa.shantibanapp.AnnualMaintenanceActivity"
            android:label="@string/annual_maintenance">
        </activity>

        <activity android:name="org.achartengine.GraphicalActivity" />

    </application>

</manifest>
